extends ../layout

block content 
    .pagina-con-fondo 
        h1 Lista de pacientes registrados 
        
        table(border='1')
            thead
                tr  
                    th ID 
                    th Nombre
                    th Apellido
                    th DNI
                    th Fecha de nacimiento
                    th Sexo
                    th Telefono 
                    th Direccion 
                    th Estado
            tdoby   
                each paciente in pacientes 
                    tr 
                        td(data-label="")= paciente.id
                        td(data-label="Nombre")= paciente.nombre
                        td(data-label="Apellido")= paciente.apellido
                        td(data-label="DNI")= paciente.dni
                        td(data-label="Fecha de nacimiento")= paciente.fecha_nacimiento.toISOString().split('T')[0]
                        td(data-label="Sexo")= paciente.sexo
                        td(data-label="Telefono")= paciente.telefono
                        td(data-label="Direccion")= paciente.direccion
                        td(class= "button_internar") 
                            a( class="button_internar" href=`/internaciones/nueva/${paciente.id}`) Internar 
                        